In [1]:
import pandas as pd
df=pd.read_csv(r'F:\Metal sales/2013.csv')

In [2]:
df.head()

,Instrument Type,Date,Segment,Commodity,Traded Contract(Lots),Total Value (Lacs),Avg Daily Turnover (Lacs)
0,FUTCOM,01 Jan 2013,BASE METALS,ALUMINI,1077,1218.55,0
1,FUTCOM,01 Jan 2013,BASE METALS,ALUMINIUM,582,3293.26,0
2,FUTCOM,01 Jan 2013,BASE METALS,COPPER,10444,46359.15,0
3,FUTCOM,01 Jan 2013,BASE METALS,COPPERM,10268,11394.27,0
4,FUTCOM,01 Jan 2013,BASE METALS,LEAD,3715,23667.38,0

In [3]:
df.shape

(3388, 7)

In [4]:
data=df[['Date','Total Value (Lacs)']]

In [5]:
data

             Date  Total Value (Lacs)
0     01 Jan 2013             1218.55
1     01 Jan 2013             3293.26
2     01 Jan 2013            46359.15
3     01 Jan 2013            11394.27
4     01 Jan 2013            23667.38
...           ...                 ...
3383  31 Dec 2013            42758.35
3384  31 Dec 2013            12037.93
3385  31 Dec 2013                0.00
3386  31 Dec 2013            86011.22
3387  31 Dec 2013            24591.07

[3388 rows x 2 columns]

In [6]:
data['Date'] = pd.to_datetime(data['Date'])
data =data.groupby(pd.Grouper(key='Date', freq='D')).sum()

C:\Users\HP\AppData\Local\Temp\ipykernel_18184\263620127.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Date'] = pd.to_datetime(data['Date'])

In [7]:
data

            Total Value (Lacs)
Date
2013-01-01           122655.23
2013-01-02          1545726.64
2013-01-03          2122986.72
2013-01-04          1556425.12
2013-01-05            50631.84
...                        ...
2013-12-27           407936.59
2013-12-28                0.00
2013-12-29                0.00
2013-12-30           403913.20
2013-12-31           429618.59

[365 rows x 1 columns]

In [8]:
data.to_csv("sales_2013")