In [1]:
#Load the required libraries
import pandas as pd
import seaborn as sns
from prophet import Prophet

In [2]:
#Load the data
df = pd.read_csv('metal_final.csv')
df

            Date  Total Value (Lacs)
0     2013-01-01           122655.23
1     2013-01-02          1545726.64
2     2013-01-03          2122986.72
3     2013-01-04          1556425.12
4     2013-01-05            50631.84
...          ...                 ...
3737  2023-03-27           244472.14
3738  2023-03-28           179162.58
3739  2023-03-29           237604.11
3740  2023-03-30            98057.86
3741  2023-03-31           246763.23

[3742 rows x 2 columns]

In [3]:
df.shape

(3742, 2)

In [4]:
df.rename(columns = {'Date':'ds','Total Value (Lacs)':'y'}, inplace = True)

m = Prophet()
m.fit(df)

16:10:55 - cmdstanpy - INFO - Chain [1] start processing
16:10:56 - cmdstanpy - INFO - Chain [1] done processing